<!DOCTYPE html>
<html>
<head>
	<title>Formulario del Cliente</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="resources/css/style_formulario2.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bwip-js/4.1.1/bwip-js-min.js"></script>
</head>
<body>
	<div class="container" id ="prueba">
		<h1>Inspecciones</h1>
		<form>	
			<label for="VIN">VIN:</label>
			<input type="text" id="VIN" name="VIN" placeholder="VIN" maxlength="17" onkeyup="convertirMayusculas(this)">
		
			<label for="fechaEmision">ISSUED DATE:</label>
			<input type="date" id="fechaEmision" name="fechaEmision" onkeyup="convertirMayusculas(this)">

			<label for="combustible">FUEL:</label>
			<select type="text" id="combustible" name="combustible" placeholder="combustible">
				<option value=""></option>
				<option value="GASOLINE">Gasoline</option>
				<option value="DIESEL">Diesel</option>
			</select>

			<label for="transmission">TRANSMISSION:</label>
			<select type="text" id="transmission" name="transmission" placeholder="transmission">
				<option value=""></option>
				<option value="MANUAL">MANUAL</option>
				<option value="AUTOMATIC">AUTOMATIC</option>
			</select>

			<label for="license">LICENSE NUMBER:</label>
			<input type="text" id="license" name="license" placeholder="license" onkeyup="convertirMayusculas(this)">

			<label for="make">MAKE:</label>
			<input type="text" id="make" name="make" placeholder="make" onkeyup="convertirMayusculas(this)">

			<label for="model">MODEL:</label>
			<input type="text" id="model" name="model" placeholder="model" onkeyup="convertirMayusculas(this)">
			
			<label for="body_style">BODY STYLE:</label>
			<input type="text" id="body_style" name="body_style" placeholder="body_style" onkeyup="convertirMayusculas(this)">

			<label for="year">YEAR:</label>
			<input type="number" id="year" name="year" required placeholder="Year" required>

			<label for="cy_capacity">CYLINDER CAPACITY:</label>
			<input type="number" id="cy_capacity" name="cy_capacity" placeholder="cy_capacity">

			<label for="cy_number">CYLINDER NUMBER:</label>
			<input type="number" id="cy_number" name="cy_number" placeholder="cy_number">

			<label for="weight">WEIGHT:</label>
			<input type="number" id="weight" name="weight" placeholder="weight">

			<label for="miles">MILES:</label>
			<input type="number" id="miles" name="miles" placeholder="miles">
		
			<input type="button" value="Generate PDF" id="generar-pdf" onclick="validarCampos()">
		</form>
	</div>
	<img src="resources/img/plantilla_formulario16/plantilla_formulario16_1.jpg" alt="" width="500px" id="img1" style="display:none;">
	<canvas id="barcodeCanvas" style="display: none;"></canvas>
	<div id="qrContainer"></div>
	<script defer src="resources/archivoJS/scriptformulario16.js" type="module"></script>
</body>
</html>
