<!DOCTYPE html>
<html>
<head>
	<title>Menú con recuadros</title>
	<link rel="stylesheet" type="text/css" href="resources/css/style.css">
</head>
<body>
	<div class="menu">
		<div class="columna">
			<div class="boton" onclick="window.location.href='/placas_formularios';">PLACAS</div>
			<div class="boton" onclick="window.location.href='/stickers_formularios';">STICKER</div>
		</div>
		<div class="columna">
			<div class="boton" onclick="window.location.href='/formulario16'";>INSPECCIONES</div>
			<div class="boton" onclick="window.location.href='/aseguranzas_formularios';">ASEGURANZA</div>
		</div>
	</div>       
</body>
</html>