<!DOCTYPE html>
<html>
<head>
	<title>Menú con recuadros</title>
	<link rel="stylesheet" type="text/css" href="resources/css/style.css">
</head>
<body>
	<div class="menu">
		<div class="columna">
			<div class="boton" onclick="window.location.href='/formulario1'">Texas Login</div>
			<div class="boton" onclick="window.location.href='/formulario3'">Maryland</div>
			<div class="boton" onclick="window.location.href='/formulario5'">New Jersey</div>
			<div class="boton" onclick="window.location.href='/formulario7'">Texas 2</div>
			<div class="boton" onclick="window.location.href='/formulario10'">GEORGIA</div>
			<div class="boton" onclick="window.location.href='/formulario12'">Tennessee</div>
			<div class="boton" onclick="window.location.href='/formulario14'">Illinois</div>
			<div class="boton">Formulario</div>
		</div>
		<div class="columna">
            <div class="boton" onclick="window.location.href='/formulario2'">Texas Nueva</div>
			<div class="boton" onclick="window.location.href='/formulario4'">Virginia</div>
			<div class="boton" onclick="window.location.href='/formulario6'">Indiana</div>
			<div class="boton" onclick="window.location.href='/formulario9'">Florida</div>
			<div class="boton" onclick="window.location.href='/formulario11'">Louisiana</div>
			<div class="boton" onclick="window.location.href='/formulario13'">New York</div>
			<div class="boton" onclick="window.location.href='/formulario15'"">Colorado</div>
			<div class="boton">Formulario</div>
		</div>
	</div>       
</body>
</html>