<!DOCTYPE html>
<html>
<head>
    <title>PLACAS</title>
    <link rel="stylesheet" type="text/css" href="resources/css/style.css">
</head>
<body>
    <div class="menu">
        <div class="columna">
            <div class="boton" onclick="window.location.href='/formulario30'">Texas</div>
        </div>
    </div>
</body>
</html>
